<div id="mediabrowser-index" ng-controller="MediaBrowserCtrl">

  <ul class="breadcrumbs">
    <li ng-class="{current: path == ''}"><a href="/admin/mediabrowser">media</a></li>
    <li ng-repeat="folder in breadcrumbs" ng-class="{current: $last}"><a href="{{ folder.mbPath }}">{{ folder.name }}</a></li>
  </ul>

  <table>
    <tr>
      <th>Name</th>
      <th>Preview</th>
      <th>Size</th>
      <th>Last Modified</th>
    </tr>
    <tr ng-repeat="file in files | orderBy:['type', 'name']">
      <td ng-if="file.type == 'file'"><a target="_blank" href="{{ file.url }}">{{ file.name }}</a></td>
      <td ng-if="file.type == 'directory'"><a href="{{ file.mbPath }}"><i class="folder"></i>{{ file.name }}</a></td>
      <td colspan="3" ng-if="file.uploading">
        <div class="progress"><span class="meter" style="width: {{ file.progress }}%"></span></div>
      </td>
      <td ng-if="!file.uploading"><a target="_blank" ng-href="{{ file.url }}" ng-if="file.image"><img class="image_preview" ng-src="{{ file.thumb_url }}"></a></td>
      <td ng-if="!file.uploading">{{ file.size | formatSize }}</td>
      <td ng-if="!file.uploading">{{ file.modified | date:'MMM d, y h:mm a' }}</td>
    </tr>
  </table>

  <div uploader files="files" path="path"></div>
</div>

