<div class="question-text"><%= field.details[:question] %></div>
<label><%= field.details[:label] %></label>
<input type="text" name="responses[<%= field.id %>][response]" value="<%= response.details[:response] %>">
