<% provide(:title, @form_version.name) %>

<% provide :css do %>
<%= stylesheet_link_tag "forms", media: "all" %>
<% end %>

<div id="form-done">
  <%= render_html(@form_version.done_message) %>
</div>
