<div id="profiles-edit" ng-show="profileLoaded">
  <h2>Edit Profile</h2>

  <div class="row">
    <div class="large-6 columns field_group">
      <h3 class="subheader">General Information</h3>
      <div class="row field_row" ng-repeat="field in generalFields" ng-class-odd="'alt_row'">
        <div class="large-4 columns"><strong>{{ field | titleize }}</strong></div>
        <div class="large-8 columns">
          <input type="text" ng-model="profile[field]">
        </div>
      </div>
    </div>
    <div class="large-6 columns field_group">
      <h3 class="subheader">Notes</h3>
      <div class="row field_row" ng-repeat="field in notesFields" ng-class-odd="'alt_row'">
        <div class="large-4 columns"><strong>{{ field | titleize }}</strong></div>
        <div class="large-8 columns">
          <textarea ng-model="profile[field]"></textarea>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns field_group">
      <h3 class="subheader">Work Contact Information</h3>
      <div class="row field_row" ng-repeat="field in workFields" ng-class-odd="'alt_row'">
        <div class="large-4 columns"><strong>{{ field | titleize }}</strong></div>
        <div class="large-8 columns">
          <input type="text" ng-model="profile[field]">
        </div>
      </div>
    </div>
    <div class="large-6 columns field_group">
      <h3 class="subheader">Home Contact Information</h3>
      <div class="row field_row" ng-repeat="field in homeFields" ng-class-odd="'alt_row'">
        <div class="large-4 columns"><strong>{{ field.replace('home_', '') | titleize }}</strong></div>
        <div class="large-8 columns">
          <input type="text" ng-model="profile[field]">
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns field_group">
      <h3 class="subheader">Activities</h3>
      <div ng-hide="profile.activities.length > 0">No activities connected to this person.</div>
      <div ng-show="profile.activities.length > 0">
        <div class="row field_row alt_row">
          <div class="small-3 columns"><strong>Program</strong></div>
          <div class="small-3 columns"><strong>Detail</strong></div>
          <div class="small-3 columns"><strong>Start Date</strong></div>
          <div class="small-3 columns"><strong>End Date</strong></div>
        </div>
        <div class="row field_row" ng-repeat="activity in profile.activities" ng-class-even="'alt_row'">
          <div class="small-3 columns">
            {{ activity.program }}
            <select ng-model="activity.program" ng-options="program.name as program.name for program in programData.data"></select>
          </div>
          <div class="small-3 columns">
            {{ activity.detail }}
            <select ng-model="activity.detail" ng-options="detail for detail in getDetails()"></select>
          </div>
          <div class="small-3 columns">
            <input type="text" ng-model="activity.start_date">
          </div>
          <div class="small-3 columns">
            <input type="text" ng-model="activity.end_date">
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="large-12 columns">
      <button type="button" class="small button" ng-click="saveProfile()">Save</button>
      <a class="small button secondary" href="/profiles/{{ profile.id }}">Cancel</a>
      <a class="small button secondary" href="/profiles">Done</a>
    </div>
  </div>

</div>
