<div id="profiles-index" class="row">
  <div class="large-12 columns">
    <ul class="button-group">
      <li><a href="/profiles/filter" class="button">Filter</a></li>
      <li><a href="/profiles/sort" class="button">Sort</a></li>
      <li><a href="/profiles/columns" class="button">Columns</a></li>
      <li><a href="#" class="button">Programs</a></li>
    </ul>

    <div id="profile-list">
      <table>
        <thead>
          <th ng-repeat="field in columns">{{ field | titleize }}</th>
        </thead>
        <tbody>
          <tr ng-repeat="profile in profileData.data">
            <td ng-repeat="field in columns" ng-switch="field">
              <div ng-switch-default>{{ profile[field] }}</div>
              <div ng-switch-when="activities">
                <ul>
                  <li ng-repeat="activity in profile[field]">{{ activity.program_name | uppercase }} ({{ activity.detail | uppercase }})&nbsp;&nbsp;{{ activity.start_date | date:'shortDate' }}-{{ activity.end_date | date:'shortDate' }}</li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

