<% provide(:title, 'Profiles') %>

<% provide :js do %>
  <%= javascript_include_tag "profiles", "data-turbolinks-track" => true %>
<% end %>

<div id="profiles-app" class="row" ng-controller="ProfilesAppCtrl">
  <div class="small-12 columns">
    <h1>CIESE Participant Profiles</h1>

    <div ng-view></div>

    <% ['profiles_index', 'view_profile', 'edit_profile', 'filters', 'sort', 'columns', 'programs'].each do |template_name| %>
      <script type="text/ng-template" id="<%= template_name %>.html">
        <%= render "profiles/#{template_name}" %>
      </script>
    <% end %>
  </div>
</div>
