<% provide(:title, 'Profiles') %>

<% provide :js do %>
  <%= javascript_include_tag "common", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "profiles", "data-turbolinks-track" => true %>
<% end %>

<div id="profiles-app" ng-controller="ProfilesAppCtrl">

  <h1>CIESE Participant Profiles</h1>

  <div ng-view></div>

</div>
