<% provide(:title, 'Topics') %>

<h1>Topics</h1>

<table id="topics">
  <thead>
    <tr>
      <th>Board ID</th>
      <th>Topic Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= link_to topic.board_id, discussion_board_path(topic.board) %></td>
        <td><%= link_to topic.name, discussion_topic_path(topic) %></td>
        <td><%= link_to "Edit", discussion_edit_topic_path(topic) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
