<% provide(:title, 'Topics') %>

<h1>Topics</h1>

<table id="topics">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= "#{topic.name}/#{}" %></td>
        <td><%= link_to "Edit", topic %></td>
      </tr>
    <% end %>
  </tbody>
</table>
