<% if field.details[:question] %>
<div><%= field.details[:question] %></div>
<% end %>
<div>
  Choices:
  <ul>
    <% field.details[:choices].each do |choice| %>
    <li><%= choice[:label] %></li>
    <% end %>
  </ul>
</div>


