<% if field.details[:question] %>
<div><%= render_html(field.details[:question]) %></div>
<% end %>

<ul>
  [
  <% field.details[:choices].each do |choice| %>
  <li><%= choice[:label] %></li>
  <% end %>
  ]
</ul>


