<div id="profiles-filters">

  <h3 class="subheader">Filter Records</h3>

  <div id="filters-list">
    <div id="filter-all_records" class="filter">
      <table>
        <thead>
          <tr class="filter-info">
            <th colspan="3">All Records</th>
          </tr>
        </thead>
      </table>
    </div>

    <div ng-repeat="filter in filterData.data">
      <div class="filter-separator">&darr;</div>

      <div class="filter">
        <table>
          <thead>
            <tr class="filter-info">
              <th colspan="4">
                <a href="#" ng-click="toggleFilterKind()">{{ filter.kind }}</a>
                records where
                <a href="#" ng-click="toggleFilterOn()">{{ filter.on }}</a>
                of the following are true:
                <a class="remove_filter_button" stop-event="click" ng-click="removeFilter()">&#215;</a>
              </th>
            </tr>
          </thead>
          <tbody>
          <tr class="filter-condition" ng-repeat="condition in filter.conditions">
            <td><select ng-model="condition.field" ng-options="field | titleize for field in filterFields"></select></td>
            <td><select ng-model="condition.comparison" ng-options="comparison for comparison in getComparisonOptions()"></select></td>
            <td><input ng-model="condition.value"></td>
            <td><button type="button" class="tiny button secondary round" stop-event="click" ng-click="removeCondition()" ng-hide="$first">-</button></td>
          </tr>
          <tr>
            <td colspan="4">
              <button type="button" class="tiny button secondary radius" ng-click="addCondition()">Add Condition</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <p>
  <button type="button" class="tiny button secondary radius" ng-click="addFilter()">Add Filter</button>
  </p>

  <hr />
  <button type="button" class="small button" ng-show="filterData.dirty" ng-click="applyFilters()">Apply</button>

</div>
