<div id="profiles-index">

  <div class="row">
    <div class="large-8 columns">
      <div ng-include="'options.html'"></div>
    </div>
    <div class="large-4 columns right-column">
      <div class="pagination-top" ng-show="profileData.loaded && profileData.data.length > 0">
        <div pagination pages="pages" page="page"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div id="profile-list" ng-show="profileData.loaded">
        <p ng-hide="profileData.data.length > 0">No records fit your search criteria.</p>
        <table ng-show="profileData.data.length > 0">
          <thead>
            <tr>
              <th ng-repeat="field in columns">
                <a ng-click="quickSort(field)" ng-hide="field == 'activities'">{{ field | titleize }}</a>
                <span ng-show="field == 'activities'">{{ field | titleize }}</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="profile in profileData.data" ng-click="viewProfile()">
              <td ng-repeat="field in columns" ng-switch="field">
                <div ng-switch-default>{{ profile[field] }}</div>
                <div ng-switch-when="activities">
                  <ul class="activities">
                    <li ng-repeat="activity in profile[field]">{{ activity.program }}<span ng-show="activity.detail"> ({{ activity.detail }})</span>&nbsp;&nbsp;{{ activity.start_date | dateFix:'mediumDate' }}<span ng-show="activity.end_date"> - {{ activity.end_date | dateFix:'mediumDate' }}</span></li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

