<div id="profiles-programs">

  <h2>Current Programs and Details</h2>

  <div class="row">
    <div class="large-4 columns">
      <table>
        <thead>
          <tr>
            <th>Program</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="program in programData.data | orderBy: 'name'">
            <td><a ng-click="editProgram()">{{ program.name }}</a></td>
            <td>
              <div ng-repeat="detail in program.details">{{ detail }}</div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <button type="button" class="small button secondary radius" ng-click="editProgram()">Add Program</button>

  <hr />

  <a class="button" href="/admin/profiles">Done</a>

  <div class="modal-box" ng-show="programEditor.editing">
    <h2>Edit Program and Details</h2>
    <div class="row">
      <div class="large-6 columns">
        <h2 class="subheader">Program</h2>
        <input type="text" ng-model="programEditor.program.name" placeholder="Enter program name...">
      </div>
      <div class="large-6 columns">
        <h2 class="subheader">Details</h2>
        <div class="row collapse" ng-repeat="detail in programEditor.program.details | filter:{removed: 'no'}">
          <div class="small-11 columns">
            <input type="text" ng-model="detail.name" placeholder="Enter detail name...">
          </div>
          <div class="small-1 columns">
            <button type="text" class="button secondary postfix" ng-click="removeDetail()">&#215;</button>
          </div>
        </div>
        <button type="button" class="tiny button secondary radius" ng-click="addDetail()">Add Detail</button>
      </div>
    </div>
    <hr />

    <div class="row">
      <div class="large-12 columns">
        <button type="submit" class="small button" ng-click="saveProgram()">Save</button>
        <button type="submit" class="small button" ng-click="saveProgram(true)" ng-show="programEditor.originalProgram.id">Save and Update Activities</button>
        <button type="button" class="small button secondary" ng-click="doneEditing()">Cancel</button>
        <button type="button" class="small button alert delete" ng-click="deleteProgram()" ng-show="programEditor.originalProgram.id">Delete</button>
      </div>
    </div>
  </div>

  <div class="modal-bg" ng-show="programEditor.editing" ng-click="doneEditing()"></div>

</div>
