<div id="profiles-view" ng-show="profileLoaded">
  <h2>View Profile</h2>

  <div class="row">
    <div class="large-6 columns field_group">
      <h2 class="subheader">General Information</h2>
      <div class="row field_row" ng-repeat="field in generalFields" ng-class-odd="'alt_row'">
        <div class="large-4 columns"><strong>{{ field | titleize }}</strong></div><div class="large-8 columns">{{ profile[field] }}</div>
      </div>
    </div>
    <div class="large-6 columns field_group">
      <h2 class="subheader">Notes</h2>
      <div class="row field_row" ng-repeat="field in notesFields" ng-class-odd="'alt_row'">
        <div class="large-4 columns"><strong>{{ field | titleize }}</strong></div><div class="large-8 columns">{{ profile[field] }}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-6 columns field_group">
      <h2 class="subheader">Work Contact Information</h2>
      <div class="row field_row" ng-repeat="field in workFields" ng-class-odd="'alt_row'">
        <div class="large-4 columns"><strong>{{ field | titleize }}</strong></div><div class="large-8 columns">{{ profile[field] }}</div>
      </div>
    </div>
    <div class="large-6 columns field_group">
      <h2 class="subheader">Home Contact Information</h2>
      <div class="row field_row" ng-repeat="field in homeFields" ng-class-odd="'alt_row'">
        <div class="large-4 columns"><strong>{{ field.replace('home_', '') | titleize }}</strong></div><div class="large-8 columns">{{ profile[field] }}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns field_group">
      <h2 class="subheader">Activities</h2>
      <div ng-hide="profile.activities.length > 0">No activities connected to this person.</div>
      <div ng-show="profile.activities.length > 0">
        <div class="row field_row alt_row">
          <div class="small-3 columns"><strong>Program</strong></div>
          <div class="small-3 columns"><strong>Detail</strong></div>
          <div class="small-3 columns"><strong>Start Date</strong></div>
          <div class="small-3 columns"><strong>End Date</strong></div>
        </div>
        <div class="row field_row" ng-repeat="activity in profile.activities" ng-class-even="'alt_row'">
          <div class="small-3 columns">{{ activity.program || '&nbsp;' }}</div>
          <div class="small-3 columns">{{ activity.detail || '&nbsp;' }}</div>
          <div class="small-3 columns">{{ activity.start_date|dateFix:'mediumDate' || '&nbsp;' }}</div>
          <div class="small-3 columns">{{ activity.end_date|dateFix:'mediumDate' || '&nbsp;' }}</div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row">
    <div class="large-12 columns">
      <a class="button" href="/admin/profiles/{{ profile.id }}/edit">Edit</a>
      <a class="button secondary" href="/admin/profiles">Back to List</a>
    </div>
  </div>
</div>
