<% provide(:title, 'Boards') %>

<h1>Boards</h1>

<table id="boards">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>Topic counts</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= link_to board.name, discussion_board_path(board.id) %></td>
        <td><%= link_to "Edit", discussion_edit_board_path(board.id) %></td>
        <td><%= board.topics.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
