/*
CSS for CIESE.org
*/


body
{
	padding: 0px;
	background: url('../images/gradient7.png') repeat-x fixed bottom;
	background-color: #006C9E;
	overflow: hidden;
	font-family: Arial, Helvetica, sans-serif;/*Calibri, Frutiger, "Frutiger Linotype", Univers, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;*/
	color: #4e5050;/*#006C9E;*/
	width: 1100px;
	overflow-x: scroll;
	overflow-y: scroll;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

section{
	position: relative;
	margin-right: 25px;
	margin-left: 25px;
	z-index: 0px;
}

header{
	position: absolute;
	top: 0px;
	width: 1100px;
	background: url('../images/header.png') no-repeat;
	/*background-size: 100%;*/
	background-color: #ffffff;
	height: 125px;
	
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

hr#header{
	padding: 0px;
	height: 3px;
	width: 1080px;
	color: #939598;
	background-color: #939598;
	border: 0;
	margin-top: 100px;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
}

img#Logo {
	position: absolute;
	margin-left: 15px;
	margin-top: 10px;
	z-index: 10;
}

a#LogIn{
	float: right;
	margin-right: 25px;
	margin-top: 15px;
	text-decoration: none;
	text-transform: uppercase;
	color: #006C9E;
	font-size: small;
	font-weight: bold;
}

input#Search{
	float: right;
	margin-right: 15px;
	margin-top: 10px;
	color: #006C9E;
	height: 30px;

	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius: 10px;
	border-top-left-radius: 10px;

	-moz-border-radius-topright: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius: 10px;
	border-bottom-left-radius: 10px;
	
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

div#Content{
	background: url('../images/content.png') no-repeat;
	background-color: #ffffff;
	width: 1100px;
	position: absolute;
	margin-top: 140px;
	z-index: 0;
	
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}

footer{
	color: black;
	position: absolute;
	bottom: -110px;
	/*margin: auto 0px;*/
	width: 1100px;
	text-align: center;
	padding-bottom: 30px;
}

img#CIESElogo{
	float: left;
	margin-left: 25px;
}

small#Copyright{
	float: center;
	margin: 0px auto;
	width: 95%;
}

img#Stevenslogo{
	float: right;
	margin-right: 25px;
}

a {
	color: #00aae6;
	border: none;
}

a:hover {
	/*outline: 0;*/
	color: #939598;
}

img a {
	text-decoration: none;
}

h2{
	font-size: x-large;
	color: #FA8600;
}

h3{
	font-size: medium;
	padding: 0px;
	margin: 10px 0px 0px 0px;
	color: #006C9E;
}