@import "foundation_overrides";
@import "mixins";

.button-row {
  white-space: nowrap;
  text-align: right;
  .button {
    margin: 0 0 0 5px;
    padding-left: emCalc(15);
    padding-right: emCalc(15);
  }
}

.ng-hide {
  display: none;
}

@mixin form-field-style {
  margin-bottom: emCalc(14);
  margin-left: 0;
  h1, h2, h3, h4, h5, h6 { margin: 0; }
  h1 { font-size: emCalc(28); }
  h2 { font-size: emCalc(24); }
  h3 { font-size: emCalc(20); }
  h4 { font-size: emCalc(18); }
  h5 { font-size: emCalc(16); }
  h6 { font-size: emCalc(14); }
  hr { margin: 0; }
  input[disabled=disabled], input:disabled,
  textarea[disabled=disabled], textarea:disabled {
    background-color: #fff;
  }
  .info-text {
    margin: 0;
  }
  .question-text {
    margin-top: emCalc(14);
    margin-bottom: emCalc(14);
    & + ul {
      margin-top: emCalc(-8);
    }
  }
  .field-preview, .field-render {
    padding: 0;
  }
  .short-answer-field-preview, .short-answer-field-render {
    input {
      margin: 0;
    }
  }
  .long-answer-field-preview, .long-answer-field-render {
    textarea {
      height: emCalc(100);
      resize: none;
      margin: 0;
    }
  }
  .single-choice-field-preview, .multiple-choice-field-preview, .single-choice-field-render, .multiple-choice-field-render {
    ul {
      list-style-type: none;
      padding: 0 0 0 emCalc(5);
      margin: emCalc(14) 0 0 0;
      li {
        display: inline-block;
        margin-right: emCalc(26);
        white-space: nowrap;
        input, label {
          display: inline;
          font-weight: normal;
          margin: 0;
        }
      }
    }
  }
  .address-field-preview, .address-field-render {
    .city-state-zip input {
      margin: 0;
    }
  }
}

#form-editor {
  margin: emCalc(20) 0;
  .form-field {
    @include form-field-style;
    border-left: 3px solid transparent;
    margin-left: -3px;
    &.edit-mode {
      margin-left: -1px;
      @include border-radius(3px);
      border: 1px solid #ddd;
      margin-bottom: emCalc(14);
      box-shadow: 7px 7px 3px -6px #999;
      .field-builder {
        display: block;
      }
      .field-preview {
        background-color: #fafafa;
        border-top: 1px solid #ddd;
        margin-top: 0;
        margin-bottom: 0;
        padding: 14px 10px;
        .question-text {
          margin-top: 0;
        }
      }
    }
    &.preview-mode {
      &:hover {
        /* border: 1px solid #ddd; */
        border-left: 3px solid $primary-color;
        /* background-color: #fafafa; */
        /* box-shadow: 7px 7px 3px -6px #999; */
      }
      .field-builder {
        display: none;
      }
      .field-preview {
        padding: 0 10px;
      }
    }
  }

  .field-builder {
    background-color: #eee;
    @include border-radius(3px 3px 0 0);
    margin: 0;
    padding: 10px;
    label {
      margin-top: emCalc(20);
      color: lightslategray;
    }
    textarea {
      min-height: emCalc(70);
      height: emCalc(70);
      resize: vertical;
      margin-bottom: emCalc(10);
    }
    .field-kind {
      margin: 0 0 emCalc(10) 0;
      font-weight: bold;
      color: darkslategray;
    }
    .field-builder-controls {
      float: right;
      span {
        margin-right: emCalc(30);
        font-size: emCalc(12);
        color: #777;
        vertical-align: top;
        input {
          margin: 0;
          vertical-align: top;
        }
      }
      a {
        color: #bbb;
        padding: 0 emCalc(8);
      }
    }
  }
  .form-settings-builder {
    select {
      margin: 0;
    }
  }
  .single-choice-field-builder, .multiple-choice-field-builder {
    input, a {
      margin-bottom: emCalc(5);
    }
  }

  .empty {
    color: #a00;
  }

  #add-field {
    padding-left: 10px;
  }
}

#form-version {
  margin: emCalc(20) 0;
  .form-field {
    @include form-field-style;
  }
}

#form-response {
  margin: emCalc(20) 0;
  .form-field {
    @include form-field-style;
  }
  .field-render, .single-choice-field-render, .multiple-choice-field-render {
    ul.error {
      border: 1px solid $alert-color;
      background-color: rgba(198, 15, 19, 0.1);
      label {
        color: $form-label-font-color;
      }
    }
    small.error {
      margin: 0;
      ul {
        margin: 0 0 0 emCalc(3);
        padding: 0;
        list-style-type: none;
      }
    }
  }
  .address-field-render {
    small.error {
      margin-bottom: emCalc(16);
    }
  }
  input[type=submit] {
    margin-top: emCalc(14);
  }
}

#form-responses {
  h1 {
    margin-bottom: emCalc(4);
  }
  h3.subheader span {
    font-size: emCalc(10);
  }
  table thead {
    th, td {
      vertical-align: top;
    }
  }
  .response-header {
    .field-kind {
      font-weight: bold;
      font-style: normal;
      margin-bottom: emCalc(8);
    }
    font-weight: normal;
    font-style: italic;
  }
  .info-response-header {
    white-space: nowrap;
  }
  .short-answer-response-header, .long-answer-response-header {
    white-space: nowrap;
  }
  .single-choice-response-header, .multiple-choice-response-header {
    white-space: nowrap;
    ul {
      margin: emCalc(8) 0 0 0;
      font-style: normal;
      line-height: emCalc(18);
      li {
        margin: 0;
        padding: 0 emCalc(8);
        display: inline;
        border-left: 1px solid #555;
        &:first-child {
          border-left: none;
        }
      }
    }
  }
  .response {
    br {
      margin: 0;
    }
  }
  .multiple-choice-response {
    ul {
      margin: 0;
      line-height: emCalc(18);
      li {
        margin: 0;
        padding: 0 emCalc(8);
        display: inline;
        border-left: 1px solid #555;
        &:first-child {
          border-left: none;
          padding-left: 0;
        }
      }
    }
  }
  .date {
    white-space: nowrap;
  }
  .address-line {
    white-space: nowrap;
  }
}

#top-nav-bar h2#form-info {
  line-height: emCalc(18);
  display: inline-block;
  vertical-align: middle;
  span {
    color: darken($secondary-color, 25%);
    font-weight: normal;
    display: block;
    font-size: .7em;
  }
}

