#profiles-index, #profiles-filters, #profiles-sort, #profiles-columns, #profiles-programs {
  font-size: 0.9em;
  #profile-list {
    overflow-x: auto;
    margin-bottom: 1.25em;
    table {
      margin-bottom: 0;
    }
  }

  #filters-list {
    display: inline-block;
    text-align: center;
    margin-bottom: 1.25em;
    #filter-all_records {
      table {
        width: 100%;
      }
    }
    .filter {
      table {
        margin-bottom: 0;
        text-align: left;
        th {
          position: relative;
          padding-right: 4em;
          a {
            color: #222;
            text-decoration: underline;
          }
          a.remove_filter_button {
            position: absolute;
            top: 0;
            right: 0;
            text-decoration: none;
            color: #aaa;
            font-size: 1.25em;
            padding: 0 2px;
          }
        }
        td {
          select {
            margin: 0;
          }
          button {
            margin: 0;
          }
        }
      }
    }
    .filter-separator {
      margin: .5em 0;
    }
    .filter-conditions {
      select {
        width: auto;
      }
      input {
        width: auto;
      }
    }
  }

  #showing {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        select {
          width: auto;
          margin-bottom: 0.5em;
        }
      }
    }
  }

  #addShowField {
    select {
      width: auto;
    }
  }

}

#profiles-programs {
  .modal-box {
    position: fixed;
    top: 10%;
    left: 10%;
    width: 80%;
    box-shadow: 0px 0px 10px 0px #333;
    z-index: 101;
    background-color: #fff;
    padding: 1.875em;
    margin: 0;
    button.delete {
      float: right;
    }
  }
  .modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: 100;
  }
}

